.reveal p {
  text-align: left;
  line-height: 1.5;
  margin: 20px;
}
.reveal h1 {
  line-height: 1.2;
  /*font-weight: bold; */
}
.reveal h2 {
  line-height: 1.2;
  /*font-weight: bold; */
}
.reveal h3 {
  line-height: 1.2;
  /*font-weight: bold; */
}
.reveal h4 {
  line-height: 1.2;
}
.reveal ul li {
  text-align: left;
  line-height: 1.5;
  margin: 10px;
  font-size: 80%;
}
.reveal .slides img {
  border: 0;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}
.reveal .slide-number {
  position: fixed;
  display: block;
  opacity: 1.0;
  font-size: 20px;
}
html.img-right div.slide-background.present {
    background-position: top right;
}